@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css');
@import url('https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css?family=Lobster|Poppins:300');

li{
	font-family:"Poppins:300", sans-serif;
	font-size:14px;
}

h3{
	font-family:"Poppins:300", sans-serif;
	font-size:14px;
	font-weight: bold;
}          

h4{
	font-family:"Lobster";
	font-size:20px;
}

h5{
	font-family:"Poppins:300", sans-serif;
	font-size:14px;
	font-weight: bold;
}          

form textarea {
	width:50%;
	font-family:"Poppins:300", sans-serif;
	font-size:14px;
}

form label {
	margin-top: 1em;
}

form button {
	margin-top: 1em;
	width:10%;
}

button {
	font-family:"Poppins:300", sans-serif;
}

#score {
	color:black;
}